@charset UTF-8;

body {
	background-color:#000;
	margin:0;
	padding:0;
}

div.wrapper {
	margin-top:10%;
	margin-left:10%;
	margin-right:10%;
	background-color:#FFF;
}

header {
	background-color:#FFF;
	font-family:Times New Roman, Georgia, serif;
	font-size:50px;
	font-weight:700;
	line-height:70px;
	color:blue;
	height:80px;
	padding:15px;
}

nav {
	border-top:4px solid blue;
	border-bottom:4px solid blue;
	width:100%;
}

nav ul {
	text-align:center;
	background:#FFF;
	font-family:Times New Roman, Georgia, serif;
}

nav li {
	font-size:16px;
	display:inline;
}

nav ul a {
	text-decoration:none;
	color:blue;
	font-weight:700;
	padding:.3em 2em;
}

section#center {
	text-align:center;
	background-color:#FFF;
	height:700px;
}

footer {
	background-color:green;
}

h1,h2,h3 {
	color:blue;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}

p {
	color:blue;
	text-align:left;
}

h4 {
	color:#2C4182;
	padding:15px;
}